* {
  border-radius: 20px;
  font-family: "Iosevka Nerd Font", sans-serif;
  font-size: 16px;
  min-height: 0;
}

window#waybar {
  background-color: #1e1e2e;
  color: #f8f8f2;
  border: none;
  opacity: 0.95;
  padding: 6px 12px;
  margin: 6px;
}

window#waybar.hidden {
  opacity: 0.5;
}

#workspaces,
#mode,
#cpu,
#memory,
#temperature,
#custom-media,
#clock,
#language,
#pulseaudio,
#backlight,
#battery,
#network,
#tray {
  background-color: #2e2e3e;
  padding: 4px 12px;
  margin: 4px 6px;
  border: 1px solid rgba(255, 255, 255, 0.05);
  border-radius: 20px;
  background-clip: padding-box;
  transition: all 0.2s ease-in-out;
  box-shadow: 0 1px 3px rgba(0,0,0,0.3);
}

/* Workspaces */
#workspaces button {
  color: #cc3241;
  padding: 0 8px;
  margin: 0 4px;
  background: transparent;
  border-radius: 15px;
}

#workspaces button.focused {
  background-color: #cc3241;
  color: #1e1e2e;
}

#workspaces button.urgent {
  background-color: #80050f;
  color: #1e1e2e;
}

/* Clock */
#clock {
  font-weight: bold;
  color: #cc3241;
}

/* Media module */
#custom-media {
  background-color: #cc3241;
  color: #1e1e2e;
}

/* Audio */
#pulseaudio {
  color: #cc3241;
}
#pulseaudio.muted {
  background-color: #80050f;
  color: #1e1e2e;
}

/* CPU and memory */
#cpu {
  color: #d08770;
}
#memory {
  color: #b48ead;
}

#custom-swaync {
  color: #ECEFF4;
  background-color: #2E3440;
  padding: 0 10px;
  border-radius: 25px;
  margin: 2px 4px;
}
#custom-swaync.critical {
  color: #cc3241;
}
#custom-swaync.low {
  color: #A3BE8C;
}

/* Temp */
#temperature {
  color: #cc3241;
}
#temperature.critical {
  background-color: #80050f;
  color: #1e1e2e;
}

/* Network */
#network {
  color: #cc3241;
}
#network.disconnected {
  background-color: #80050f;
  color: #1e1e2e;
}

/* Battery */
#battery {
  color: #a3be8c;
}
#battery.charging, #battery.plugged {
  background-color: #a3be8c;
  color: #1e1e2e;
}

#battery.critical:not(.charging) {
  background-color: #cc3241;
  color: #1e1e2e;
  animation: blink 0.5s linear infinite alternate;
}

@keyframes blink {
  to {
    background-color: #1e1e2e;
    color: #cc3241;
  }
}

/* Tray spacing */
#tray > .widget {
  margin: 0 4px;
}

/* Hover effect */
#cpu:hover,
#memory:hover,
#temperature:hover,
#network:hover,
#pulseaudio:hover,
#battery:hover,
#tray:hover,
#clock:hover {
  background-color: rgba(255, 255, 255, 0.05);
}